# Ignorer env files
venv/
.env
__pycache__/
*.py[cod]
*.pyo

# Ignorer logs
*.log

# Ignorer IDE confs
.vscode/
.idea/

# Ignorer Jupyter Notebook outputs files
.ipynb_checkpoints/

# Ignorer OS files
.DS_Store  # macOS
Thumbs.db  # Windows
